{% extends "base.html" %}

{% block search %}
<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post" novalidate>
                    <div class="search-form">
                        {{ form.query_field() }}
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-12 col-lg-auto">
    <div class="single-top-category">
        <img src="static/images/bg-img/bg2.jpg" alt="">

        <div class="top-cta-content">
            <h1>404 :(</h1>
            <a href="/" class="btn delicious-btn"> Home </a>
        </div>
    </div>
</div>
{% endblock %}
