{% extends "base.html" %}

{% block search %}
<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post" novalidate>
                    <div class="search-form">
                        {{ form.query_field() }}
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="best-recipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3> {{ profile.nickname}}'s Recipes</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for recipe in recipes_list %}
            <div class="col-auto col-sm-8 col-lg-auto">
                <div class="single-small-recipe-area d-flex">
                    <div class="recipe-thumb">
                        <img src="{{ recipe.image_url }}" alt="">
                    </div>

                    <div class="recipe-content">
                        <span>{{ recipe.date }}</span>
                        <a href="/recipe-post/{{ recipe.id }}">
                            <h5> {{ recipe.name }} </h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
