<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Yarik Recipe App </title>

    <link rel="icon" href="{{ url_for('static', filename='images/core-img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

{% block search %} {% endblock %}


<header class="header-area">
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">

                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <a class="nav-brand" href="/index"><img src="{{ url_for('static', filename='images/core-img/logo.png') }}" alt=""></a>

                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <div class="classy-menu">

                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="/index">Home</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/index">Home</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/all-recipes">All Recipes</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Mega Menu</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-3">
                                            <li class="/title">Category</li>
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/blog-post">Blog Post</a></li>
                                            <li><a href="/recipe-post">Recipe Post</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/elements">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-3">
                                            <li class="/title">Category</li>
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/blog-post">Blog Post</a></li>
                                            <li><a href="/recipe-post">Recipe Post</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/elements">Elements</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-3">
                                            <li class="/title">Category</li>
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/blog-post">Blog Post</a></li>
                                            <li><a href="/recipe-post">Recipe Post</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/elements">Elements</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/all-recipes">Recipes</a></li>
                                {% if current_user.is_authenticated %}
                                <li><a href="/add-recipe">Add Recipe</a></li>
                                <li><a href="#">Account</a>
                                    <ul class="dropdown">
                                        <li><a href="/profile/{{ current_user.nickname }}">Profile</a></li>
                                        <li><a href="/logout">Log Out</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="#">Account</a>
                                    <ul class="dropdown">
                                        <li><a href="/login">Log In</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                    </ul>
                                {% endif %}
                            </ul>

                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block content %} {% endblock %}

<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <div class="footer-logo">
                    <a href="/index"><img src="{{ url_for('static', filename='images/core-img/logo.png') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/active.js') }}"></script>

</body>
</html>
