{% extends "base.html" %}

{% block search %}
<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post" novalidate>
                    <div class="search-form">
                        {{ form.query_field() }}
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        {% for recipe in cotw_list %}
        <div class="single-hero-slide bg-img" style="background-image: url({{ recipe.image_url }});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="250ms">
                            <h2 data-animation="fadeInUp" data-delay="500ms"> {{ recipe.name }} </h2>
                            <p data-animation="fadeInUp" data-delay="500ms"> {{ recipe.description }} </p>
                            <a href="/recipe-post/{{ recipe.id }}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="750ms">See Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<section class="top-category-area section-padding-80-0">
    <div class="container">
        <div class="section-heading">
            <h3> Choice of the Week </h3>
        </div>
        <div class="row">
            {% for recipe in cotw_list %}
            <div class="col-12 col-lg-6">
                <div class="single-top-category">
                    <img src="{{ recipe.cropped_image_url }}" alt="">

                    <div class="top-cta-content">
                        <h3> {{ recipe.name }} </h3>
                        <h5> {{ ' '.join(recipe.description.split()[:4]) + '...' }} </h5>
                        <a href="/recipe-post/{{ recipe.id }}" class="btn delicious-btn">See Full Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="best-recipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Hot Recipes</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for recipe in hot_list %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-recipe-area mb-30">
                    <img src="{{ recipe.cropped_image_url }}" alt="">
                    <div class="recipe-content">
                        <a href="/recipe-post/{{ recipe.id }}">
                            <h5> {{ recipe.name }} </h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="cta-area bg-img bg-overlay" style="background-image: url(static/images/bg-img/bg4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

                <div class="cta-content text-center">
                    <h2>All Recipes</h2>
                    <p></p>
                    <a href="/all-recipes" class="btn delicious-btn">Discover all the recipes</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
